.RadioButtons {
  color: black;
  position: absolute;
  padding: 10px;
  right: 0px;
  border-width: 5px;
  overflow-x: hidden;
}

.CloseButton{
    position: absolute;
    top: 0px;
    right: 0px;
}