.Container {
  /* text-align: center; */
  display: flex;

  flex-flow: row wrap;
  width: 100%;
}

.closeButton {
  float: right;
}

.methodChoice {
  position: relative;
  top: 12px;
  flex: 1 1 auto;

  /* float: left;
  margin-left: 5px; */
}

.selectAxis {
  flex: 1;
}
.model {
  flex: 1 1 50%;
  display: flex;
  background-color: rgba(216, 250, 215, 0.726);
}

.graph {
  flex: 1 1 50%;
  display: flex;
  background-color: rgb(215, 221, 250);

}
.item {
  flex: 1;
}

.submitButton {
  float: left;
}
.errorMessage {
  flex: 1;
  float: right;
}
