.Container {
  position: absolute;
  top: 50%;
  width: 20%;
  text-align: center;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 0;
}

.formControl{

  float: left;
  margin-left: 5px;

}

.formControlParent{
  
background-color: aqua;
}