.HeatMaps{
    
    float: left;
    width: 100%;
    /* display: flex;
    flex-direction: column ; */
}

.HeatMapEnergyPerformance {
    float: left;
    width: 46%;
    margin: 2%;

    text-align: center;
    flex:1;

  }