.Button {
    background-color: #2387df;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 20px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
}



.Button:hover, .active{
    background-color: #1052cc;
}

