.header {
    background: #596cc5;
    color: white;
    font-size: 30px;
    max-width: 100%;
    height: 100vh;
    overflow-x:hidden;
    align-items: center;
    padding-left: 40vw;
  }

.anchor{
  position: absolute;
}

.links{
  margin-left:  -50vw;
  text-align: center;
}

.title{
  margin-left: -50vw;
  text-align: center;
}