.Container {
  /*
  background-color: blanchedalmond;
  border-width: 2px;
  border-color: rgb(156, 122, 12);
  border-style: solid;
  */
  display: flex;
  width: 100%;

  align-content: center;
  justify-content: space-between;
  flex-flow: row wrap;
  

  /* margin-left: auto;
  align-content: flex-end
  flex-wrap: wrap; */
}

.VarContainer {
  /* flex: 1 1 70px; */
  flex: 3.1 1;
  align-self: baseline;
  background-color: aqua;
  order: 3;
  margin:5px
}

.EqnContainer {
  /* flex: 4 0;
  align-self: baseline;
  order: 2; */

  /* margin: 10px; */
  /* height: auto; */
  overflow-y: auto;
  /*
  border-width: 2px;
  border-color: rgb(56, 122, 122);
  border-style: solid;
  */
}
.Column{
  flex: 4 0;
  align-self: baseline;
  order: 2;
  }
.MetaContainer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 15%; */
  margin-top: 10px;
  background-color: antiquewhite;
}

.ConsoleContainer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 15%; */
  overflow-y : auto;
  height: 200px;
  margin-top: 10px;
  background-color: antiquewhite;
}

.Graph {
  flex: 10;
  /* margin: 10px; */
  align-self: baseline;
  order: 4;
  margin:5px

  /* background-color: bisque; 
  border-width: 2px;
  border-color: rgb(21, 8, 99);
  border-style: solid; */
}

.graphConfig {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0 auto;
}
