.Container {
  /*
  background-color: blanchedalmond;
  border-width: 2px;
  border-color: rgb(156, 122, 12);
  border-style: solid;
  */
  display: flex;
  width: 100%; 

  justify-content: space-around;
  /* margin-left: auto;
  align-content: flex-end
  flex-wrap: wrap; */


}

.VarContainer {
  /* flex: 1 1 70px; */
  flex: 3.1 1;
  align-self: baseline;
  background-color: aqua;
}

.EqnContainer {
  flex: 4 0;
  align-self: baseline;

  /* margin: 10px; */
  /* height: auto; */
  overflow-y: auto;
  /*
  border-width: 2px;
  border-color: rgb(56, 122, 122);
  border-style: solid;
  */
}

.Graph {
  flex: 10 ;
  /* margin: 10px; */
  align-self: baseline;

  /* background-color: bisque; 
  border-width: 2px;
  border-color: rgb(21, 8, 99);
  border-style: solid; */
}

.graphConfig {
  width:50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0 auto;
}
