.Container {
  display: inline-block;
  width: 90%;
  margin: 5%;

}

.Eqns {
  font-size: x-large;
  width: 50%;
  float: left;
  display: block;
}

.Graph {
  float: left;
  width: 50%;
}

.ButtonContainer {
  background-color: turquoise;
}

.Button{
    float: left;
    margin-left: 5%;
}

.Legend{
    display: inline-block;
    line-height: 5px;
}

@media screen and (min-width: 415px){
  .Legend {
    padding: 0 1em 0 0;
  }
}