.Container {
  width: 98%;
  margin: 1%;
  /*
  background-color: blanchedalmond;
  border-width: 2px;
  border-color: rgb(156, 122, 12);
  border-style: solid;
  */
}
.Vars{
  width: 100%;
  
}
.VarContainer{
  width: 37%;
  float: left;
  margin-left: 1%;

}
.singleItem {
  padding: 1%;
}
.EqnContainer {
  font-size: medium;
  width: 30%;
  float: left;
  /*
  border-width: 2px;
  border-color: rgb(56, 122, 122);
  border-style: solid;
  */
}

.Graph {
  float: right;
  width: 59%;
  position: absolute;
  right: 5%;
  width: 50%;
  /*
  background-color: bisque; 
  border-width: 2px;
  border-color: rgb(21, 8, 99);
  border-style: solid;
  */
}

.graphConfig{
  background-color: aquamarine;

  
}
