.Container {
  /*
  background-color: blanchedalmond;
  border-width: 2px;
  border-color: rgb(156, 122, 12);
  border-style: solid;
  */
}
.Vars {
  width: 100%;


}
.VarContainer {
  display: flex;
  flex-direction: column;
}
.singleItem {
  padding: 1%;
}
.EqnContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  /*
  border-width: 2px;
  border-color: rgb(56, 122, 122);
  border-style: solid;
  */
}

.Graph {
  float: right;
  width: 43%;
  /*
  background-color: bisque; 
  border-width: 2px;
  border-color: rgb(21, 8, 99);
  border-style: solid;
  */
}

.graphConfig {
  background-color: aquamarine;
}
