.RightContent {
  /* width: 20%;
  
   
  
      position: fixed;
    top: 60px;
    bottom: 0;
    right: 0px;
     */
  padding: 5px;
  text-align: center;

  overflow-y: scroll;
  overflow-x: hidden;
}
