.RightContent {
  /* width: 20%;
  
   
  
      position: fixed;
    top: 60px;
    bottom: 0;
    right: 0px;
     */
  padding-left: 25px;
  text-align: center;
  height:90vh;
  position: fixed;
  margin:5px;

  overflow-y: scroll;
  overflow-x: hidden;
}
