.HeatMaps {
  display: flex;
  width: 100%;
  flex-flow: row wrap;


  /* float: left; */
}

.HeatMapEnergyPerformance {
  flex: 1 1 50%;
  text-align: center;

  /* padding-top: 3%;
  float: left;
  width: 49%; */
}
