.HeatMaps{
    
    float: left;

}

.HeatMapProductionRate{
    float: left;
    width: 40%;
    padding-top: 10%;
    text-align: center;
    
}

.HeatMapEnergyPerformance{
    float: left;
    width: 50%;

    padding-top: 10%;
    text-align: center;




}