.Button {
    background-color: #296aa3;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}



.Button:hover, .active{
    background-color: #26509e;
}

