.Container {
  display: inline-block;
  height: 400px;
  width: 90%;
  margin: 5%;
}

.Form {
  font-size: xx-large;
  float: left;
  width: 50%;
}

.Graph {
  float: left;

  width: 50%;
}

.ButtonPos {
  position: relative;
  left: 30%;
  top: 50px;
  float: left;
}
