.Container {
  display: inline-block;
  height: 400px;
  width: 90%;
  margin: 5%;
}

.Form {
  text-align: center;
  font-size: xx-large;
  float: left;
  width: 50%;
}

.Graph {
  float: left;

  width: 50%;
}

.ButtonPos {
  position: relative;
  top: 50px;
}
