.Container {
  display: inline-block;
  width: 90%;
  margin: 5%;
  height: 60vh;
}
.Form {
  font-size: xx-large;
  float: left;
  width: 50%;
}

.Graph {
  float: left;

  width: 50%;
}

.ButtonContainer {
  background-color: violet;
  margin: 0 auto;
  position: relative;
  left: 25%;
  top: 200px;

}

.ButtonPos {
  float: left;
  margin-left: 5%;
}
.ButtodnPos {
  width: fit-content;
  display: table;
  margin: 0 auto;
  position: absolute;
}

.Eqn {
  width: fit-content;
  display: table;
  margin: 0 auto;
}
