.Container {
  display: inline-block;
  width: 90%;
  margin: 5%;
  height: 60vh;
}
.Form {
  font-size: xx-large;
  float: left;
  width: 50%;
}

.Graph {
  float: left;

  width: 50%;
}

.ButtonPos {
  width: fit-content;
  display: table;
  margin: 0 auto;
}

.Eqn {
  width: fit-content;
  display: table;
  margin: 0 auto;
}
