.Dropdown {
  display: flex;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px;
}

.Content {
  float: right;
  position: absolute;
  top: 0;
  left: 0;

}

.Graph {
  float: right;

  height: 300px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  margin: 30px;
}
