.Independent {
  /*background-color: aqua;*/
  float: left;
  margin: 1%;
  width: 46%;

  padding: 1%;
}
.Dependent {
  /*background-color: rgb(126, 126, 177);*/
  background-color: rgb(250, 235, 215);
  float: left;
  margin: 1%;
  width: 46%;

  padding: 1%;
}
.Constant {
  background-color: beige;
  float: left;
  padding: 1%;
  width: 46%;

  margin: 1%;
}
.RemoveButton {
  float: right;
}
.slider {
  /*background-color: rgb(173, 172, 211);*/
  width: 100%;

  float: left;
}
.mathQuill {
  /*background-color: rgb(255, 196, 196);*/
  float: left;
}

.input {
  /*background-color: rgb(165, 208, 247);*/
  float: left;
}
.inputs {
  /*background-color: blueviolet;*/
  float: left;
}
