.RemoveButton {
  flex: 1;
  
  
}  
.EqnText{
 
  flex: 20;
}

.Container {

  margin: 1%;
  display: flex;
  flex-flow: row wrap;

}

.ErrorMsg {
  flex: 1;
  color: red;
  font-size: smaller;
  /* width: 30px;
  float: right;
  height: 30px; */

}




