.Container{


}

.Table{
  /* width:30vw */
  margin:5px;

  /* width: 45vw; */


}

.Graph{
  margin:5px;

  /* width: 45vw; */

 
}
.Button{
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 45vw;
}