.Container{
  display: flex;
  flex-flow: column wrap;
  background-color: green;



}

.Table{
  /* margin:5px; */
  flex: 1;
  background-color: aqua;

  /* width: 39vw;
  height: 36vh;  */


}

.Graph{
  /* margin:5px; */
  flex: 1;
  background-color: red;


  /* width: 45vw; */

 
}
.Button{
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 45vw;
}