.Container{
  /* display: flex; */


}

.Table{
  /* width:30vw */
  margin:5px;
  flex: 1;

  width: 39vw;
  height: 37vh;


}

.Graph{
  margin:5px;
  flex: 1;

  /* width: 45vw; */

 
}
.Button{
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 45vw;
}