.ModelBenchContainer {
  display: flex;
  background-color: rgb(240, 240, 240);
  height: 91vh; 
  overflow-y: hidden;
  overflow-x: hidden;
  /*background-color: aqua;*/
}
.ModelBenchItemLeft {
  width: 15%;

  /*background-color: blue;
  border-width: 5px;
  border-color: red;
  border-style: solid;*/
}

.ModelBenchItemLeftEqnNav {
  padding: 5px;
  border-width: 5px;
  margin-top: 5%;
}
.ModelBenchItemLeftFileNav {
  margin-top: 5%;

  /* border-color: blue;
  background-color: blueviolet;*/
  width: auto;
}
.ModelBenchItemCenter {
  flex-grow: 1;
  margin-left: 1%;

  /*background-color: brown;*/
}
