.ModelBenchContainer {
  display: flex;
  background-color: rgb(240, 240, 240);
  width: 99vw;
  height: 90vh;
  overflow: hidden;
  /*background-color: aqua;*/
}
.ModelBenchItemLeft {
  width: 15%;
  padding-top: 1%;


  /*background-color: blue;
  border-width: 5px;
  border-color: red;
  border-style: solid;*/
}

.ModelBenchItemLeftEqnNav {
  padding: 5px;
  padding-top: 5%;

}
.ModelBenchItemLeftFileNav {

  /* border-color: blue;
  background-color: blueviolet;*/
  width: auto;
}
.ModelBenchItemCenter {
  flex-grow: 1;
  margin-left: 1%;

  /*background-color: brown;*/
}
