.ModelBenchContainer {
  display: flex;
  background-color: rgb(240, 240, 240);
  height: 90vh;
  justify-content: flex-end;  /*background-color: aqua;*/
  margin-left: auto;
}
.ModelBenchItemLeft {
  flex: 1 1 auto;

  /*background-color: blue;
  border-width: 5px;
  border-color: red;
  border-style: solid;*/
}
.SolverAnalysisContainer {
  /*
  background-color: blanchedalmond;
  border-width: 2px;
  border-color: rgb(156, 122, 12);
  border-style: solid;
  */
  flex: 1 1 auto;

  background-color: rgb(231, 227, 227);
}

.ModelBenchItemLeftEqnNav {
  flex: 1 1 auto;

}
.ModelBenchItemLeftFileNav {
  /* border-color: blue;
  background-color: blueviolet;*/
  flex: 1 1 auto;
  
}
.ModelBenchItemCenter {
  flex: 30 30 auto;

  /*background-color: brown;*/
}

.copyright{
  font-size: xx-small;
  position: fixed;
  bottom: 0;
  left: 35vw;
}
