.ModelBenchContainer {
  display: flex;
  /*background-color: aqua;*/
}
.ModelBenchItemLeft {
  width: 15%;
  
  background-color: blue;
  border-width: 5px;
  border-color: red;
  border-style: solid;
}

.ModelBenchItemLeftEqnNav {
  margin-top: 30px;
  padding: 5px;
  border-width: 5px;
}
.ModelBenchItemLeftFileNav {
  border-color: blue;
  background-color: blueviolet;
}
.ModelBenchItemCenter {
  flex-grow: 1;

  width: 52%;
  background-color: brown;
}
