.ModelBenchContainer {
  display: flex;
  background-color: rgb(240, 240, 240);
  height: 91vh;
  justify-content: flex-end;  /*background-color: aqua;*/
  margin-left: auto;
  /* overflow: hidden; */

}
.ModelBenchItemLeft {
  flex: 1 1 auto;

  /*background-color: blue;
  border-width: 5px;
  border-color: red;
  border-style: solid;*/
}
/*  */

.ModelBenchItemLeftEqnNav {
  flex: 1 1 auto;

}
.ModelBenchItemLeftFileNav {
  /* border-color: blue;
  background-color: blueviolet;*/
  flex: 1 1 auto;
  
}
.ModelBenchItemCenter {
  flex: 70 1 auto;
  /* overflow: hidden; */

  /*background-color: brown;*/
}

.copyright{
  font-size:10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
