.Independent {
  /*background-color: aqua;*/
  flex:1;
 

}
.Dependent {
  /*background-color: rgb(126, 126, 177);*/

  float: left;
  width: 50%;


}

.Constant {
  float: left;
  width: 100%;


}
.RemoveButton {
  float: right;

}
.slider {
  /*background-color: rgb(173, 172, 211);*/
  width: 50%;
  padding-left: 2px;

  float: left;
}
.mathQuill {
  /*background-color: rgb(255, 196, 196);*/
  float: left;
}

.input {
  /*background-color: rgb(165, 208, 247);*/
  float: left;
}
.inputs {
  /*background-color: blueviolet;*/
  float: left;
}

.ErrorMsg{
  float: right;
  color: red;

}