.MESPic{
    background-color: rgb(97, 176, 240);
    padding: 8px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 5px;

}




.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: absolute;
    top: 50px;
    left: -500px;
    width: 1000px;

    z-index: 4;
  }
  
  .image {
    width: 600px;
  }
  