.RightContent {
    width: 28%;
  
    top: 60px;
    bottom: 0;
    right: 0px;
  
    text-align: center;
  
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .toggleSlider {
    position: absolute;
    top: 57%;
    left: 15%;;
  }

  .sliders{
    display: flex;
    flex: 1;
    border-top: 5px dashed black;

  }
  